    <style>
    p {
        font-family: Georgia, "Times New Roman", Times, serif;
        text-align: center;
      }

    h1 {
      font-size: 2.5em;
      text-align: center;
    }

    p.bold {
      font-weight: bolder;
    }

    p.border {
      border-radius: 10px;
      border: 6px double black;
      padding: .2em;
      width:300px;
      height:300px;
      position:fixed;
      margin-left:-150px;
      margin-top:-150px;
      top:50%;
      left:50%;
    }

    .info {
        text-align: center;
    }


    .merch {
        text-align: center;
    }

    .orderconf { 
        text-align: center;
    }

    </style>
