    p {
        font-family: Georgia, "Times New Roman", Times, serif;
        text-align: center;
      }

    h1 {
      font-size: 2.5em;
      text-align: center;
    }

    p.bold {
      font-weight: bolder;
    }

    p.border {
      border-radius: 10px;
      border: 6px double black;
      padding: .2em;
      width:300px;
      height:300px;
      background-color:#d9d9d9;
      position:fixed;
      margin-left:-150px; /* half of width */
      margin-top:-150px;  /* half of height */
      top:50%;
      left:50%;
    }

    div.info {
        text-align: center;
        visibility: hidden;
    }


    .merch {
        text-align: center;
    }

    div.orderconf { 
        visibility: hidden;
        text-align: center;
    }

    </style>
